@font-face{
	font-family: "Roboto";
	src:url("../fonts/Roboto-Regular.ttf")format("truetype");
	font-style: normal;
	font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
margin:0;
padding:0;
border:0;
box-sizing: border-box;

}

body{

	background-image: url('../imagenes/fondo.jpg');
	background-size: cover;
	font-family: "Roboto";
}

h1,h2,h3{

	font-family: 'Amaranth', cursive;
	text-align: center;
	color: yellow;
	margin:10px;
}

p{
	text-align: center;
	font-family: 'Amaranth', cursive;
}

.fila{

	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}
.caja{

	background-color: rgba(0,0,0,0.5);
	max-width: 30rem;
	width: 100%;
	min-height: 30rem;
	height: 100%;
	margin: 30px 0;
	color: #FFFFFF;
	text-align: center;
	padding: 30px;


}

#boton{

	margin:30px 10px 30px 10px;
}

.boton{

	margin:46px 5px 29px 5px;

}

select{

	background-color: #B3E5EE;
	min-height: 2.5rem;
	height: 100%;
	border-radius: 5px;
	margin:10px;
	box-shadow: 3px 3px 3px #000000;
	font-family: 'Amaranth', cursive;
	font-weight: 600;
	padding: 10px;
}

#correcto{

	background-color: #FFFFFF;
	border-radius: 5px;
	color: #000000;
	line-height: 55px;
	padding: 30px 0px;
	max-width: 100%;
	width: 100%;
	max-height: 5rem;
	min-height: 5rem;
	visibility: hidden;
	opacity:0;
}

#correcto >p{

	text-align: center;
	font-family: 'Amaranth', cursive;

}

#acertijo{

	background-color: #FFFFFF;
	border-radius: 5px;
	color: #000000;
	line-height: 55px;
	padding: 30px 0px;
	max-width: 100%;
	width: 100%;
	max-height: 5rem;
	min-height: 5rem;
	visibility: hidden;
	opacity:0;
}

#acertijo >p{

	text-align: center;
	font-family: 'Amaranth', cursive;

}

/*.prueba{
	font-family: 'Amaranth', cursive;
	color: #000000;
	visibility: visible;
	opacity: 1;
	transition: all 3s ease;
	margin: 20px auto;
	max-width: 100%;
	width: 100%;
	padding: 30px;
	background-color: #FFFFFF;
	border-radius: 5px;
}*/

.prueba{
	visibility: visible;
	opacity: 1;
	transition:all 3s ease;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #000000;
	line-height: 55px;
	padding: 30px 0px;
	max-width: 100%;
	width: 100%;
	max-height: 5rem;
	min-height: 5rem;
	text-align: center;
	font-family: 'Amaranth', cursive;

}

.seleccion{

	margin:20px;
}

.botones{
	padding: 10px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    cursor: pointer;
}

.botones:hover{
    color: #1883ba;
    background-color: #ffffff;
}

.btnp{
	visibility: hidden;
	opacity: 0;
	transition: all 1s ease;
	color: #1883ba;
    background-color: #ffffff;
    border-radius: 6px;
    border: 2px solid #0016b0;
    padding: 10px;
    font-weight: 600;
}


